<script>
    document.getElementById('buscar').onkeyup = () => {
        console.log(document.getElementById('buscar').value)

        //El token de protección CSRF
        const csrf = document.getElementById('_csrf').value;
        // console.log(csrf)

        fetch('/search', { // fetch('/ruta', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'csrf-token': csrf
            },
            body: JSON.stringify({
                query: document.getElementById('buscar').value
            })
        }).then(result => {
            return result.json(); //Regresa otra promesa
        }).then(data => {
            console.log(data.rows)
            data = data.rows;
            let contenido = "";

            if (data.length > 0) { 
                for (let zombie of data) { 
            
                    contenido  += '<tr>';
                    contenido  +=  '<td>';
                    contenido  += '<a href="/historial/'+ zombie.idZombie +'" class="btn btn-dark btn-sm" type="button">Historial de evolucion</a>';
                    contenido  += '</td>';
                    contenido  += '<td>'+ zombie.NombreCompleto +'</td>';
                    contenido  += '<td>'+ zombie.Estado +'</td>';
                    contenido  += '<td>'+ zombie.FechaMetamorfosis +'</td>';
                    contenido  += '</tr>';
                    contenido  += '</tbody>';
                } 
            } else {
                contenido  +=   '<h3>No hay zombies que coincidan en la busqueda</h3>';
                contenido  +=   '<br />';
                contenido  +=   '<br />';
            }

            document.getElementById('buscar').innerHTML = contenido;
        }).catch(err => {
            console.log(err);
        });
    }
</script>