<script>
    document.getElementById('   ').onkeyup = () => {
        // console.log(document.getElementById('').value)

        //El token de protección CSRF
        const csrf = document.getElementById('_csrf').value;
        // console.log(csrf)

        fetch('', { // fetch('/ruta', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'csrf-token': csrf
            },
            body: JSON.stringify({
                query: document.getElementById('   ').value
            })
        }).then(result => {
            return result.json(); //Regresa otra promesa
        }).then(data => {
            // console.log(data.rows)
            data = data.rows;
            let contenido = "";

            if (data.length > 0) { 
                for (let item of data) { 
            
                    // contenido  +=  '<div class="card bg-secondary text-white" style="width:400px; margin: 1rem;">';
                    // contenido  +=   '<img class="card-img-top" src="/images/'+ (heroe.imagen  === null ? '' : heroe.imagen) +'" alt="Card image" style="width:350px; height: 270px;">';
                    // contenido  +=   '<div class="card-body">';
                    // contenido  +=   '<h4 class="card-title">'+ heroe.nombre +'</h4>';
                    // contenido  +=   '<a id="heroe" href="/detalle/'+ heroe.id +'" class="btn btn-dark">Ver información</a>';
                    // contenido  +=   '</div>';
                    // contenido  +=   '</div>';
                } 
            } else {
                contenido  +=   '<h3>No hay heroes que coincidan en la busqueda</h3>';
                contenido  +=   '<br />';
                contenido  +=   '<br />';
            }

            document.getElementById('   ').innerHTML = contenido;
        }).catch(err => {
            console.log(err);
        });
    }
</script>