<input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
<div class="input-group" >
    <div class="form-floating col-lg-12 col-md-12 col-sm-12">
        <input type="text" name="search" class="form-control rounded-pill" id="buscar" aria-label="Search"
        aria-describedby="search-addon" placeholder="buscar" aria-placeholder="Buscar">
        <label for="floatingInputGrid">Buscar</label>
    </div>
</div>
<br>