<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
<body>
    <div class="position-relative">
        <br>
        <br>
        <div class="position-absolute top-50 start-50 translate-middle-x">
            <h1>ERROR 404</h1>
            <p class="lead">
                the server could not find the requested website
            </p>
            <a id="" href="/" class="btn btn-dark">Volver a la Página Inicial</a>
        </div>
    </div>
</body>
</html>