<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    
    
    <div class="container-fluid">
        
        <div class="px-lg-5">
            <h3>Estadisticas Actuales</h3>
            <hr>

            <hr>
            <div class="input-group">
                <span class="input-group-text">infección</span>
                <input type="text" aria-label="First name" class="form-control"  readonly>
                <span class="input-group-text">Desorientación</span>
                <input type="text" aria-label="Last name" class="form-control"  readonly>
                <span class="input-group-text">Violencia</span>
                <input type="text" aria-label="Last name" class="form-control" readonly>
                <span class="input-group-text">Desmayo</span>
                <input type="text" aria-label="Last name" class="form-control" readonly>
                <span class="input-group-text">Transformación</span>
                <input type="text" aria-label="Last name" class="form-control" readonly>
            </div>
            <hr>
            

        

    </div>
    <%- include('includes/Footer.ejs') %>
    <!-- <%- include('includes/scriptSearch.ejs') %> -->
</body>
</html>